<nb-layout>



  <nb-layout-column>

    <nav *ngIf="loggedInUser$ | async as user; else elseTemplate">
    <a routerLink="/">Home</a>
    <a routerLink="/translations">Translations</a>
    <button routerLink="/" *ngIf="loggedInUser$ | async as user"nbButton (click)="logoutUser()" status="warning" size="small">Log Out</button>
    </nav>
    <ng-template #elseTemplate>
      <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/translations">Translations</a>
      <a class="rightSide" routerLink="/signup">Sign Up</a>
    <a class="rightSide" routerLink="/login">Login</a>
  </nav>
    </ng-template>
    <hr>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>

